.navbar-dark .nav-link.active {
    color: #fff !important;
    border-bottom: 2px solid #4CAF50;
}


main {
    color: black;
}

.navbar-nav {
    margin: auto;
}


h1 {
    font-size: 2rem;
}

.btn {
    padding: 10px 20px;
}

.btn-success {
    background-color: #4CAF50;
    border: none;
    padding: 12px 25px;
    font-size: 1.2rem;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.btn-success:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.navbar {
    background: rgba(0, 0, 0, 0.8) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px 20px;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #4CAF50 !important;
    transition: color 0.3s ease-in-out;
}

.navbar-brand:hover {
    color: #45a049 !important;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    color: white !important;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    background-color: rgba(76, 175, 80, 0.7);
    border-radius: 5px;
    color: white !important;
}


.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}